/* Global behaviors */
* {
    box-sizing: border-box; /* Includes padding in calculated width/height percentages to avoid horizontal scroll bars */
  }
  
  p {
      font-family: Arial;
      margin-top: 0;
      margin-bottom: 0;
  }
  
  body {
      /* This style below will be inherited */
      background-color: #e6e3e3;
      margin: 0;
  }
  
  main {
    /*Auto resize main page items and also sex max width for resizing*/
      margin-top: 180px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
      max-width: 1200px;
  }