.welcome-tile-container {
    display: flex;
    flex-direction: row;
    background-color: #e6e3e3;
    height: 600px;
    width: 100%;
    font-family: Arial;
}

.welcome-left-container {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 20px;
}

.welcome-right-container {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;     
    justify-content: flex-start;
}

.welcome-left-box {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
    background-color: #edccff;
    border-radius: 10px;
}

.welcome-left-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.welcome-right-textbox {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.welcome-right-title {
    font-size: 30px;
    font-weight: 700;
    color:#b14bfa;
    margin-bottom: 10px;
}

.welcome-right-text {
    font-size: 18px;
    line-height: 2.0;
}

.welcome-right-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 40px 40px;
    max-height: 200px;
    width: 100%;
    flex-wrap: wrap; 

}

.welcome-right-images img {
    max-width: 60px;       /* adjust size based on design */
    max-height: 60px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.welcome-left-contact {
    width: 50%;  /* Match width of box */
    padding-top: 20px;  /* Space between image and contact info */
    text-align: left;
    font-size: 14px;
}

.contact-title-container {
    margin-bottom: 5px;
}

.contact-title-text {
    font-size: 20px;
    font-weight: 700;
    color: #b14bfa;
}

.contact-info-container {
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


